#container_card {
    font-family: "Raleway", sans-serif;
    max-width: 300px;
}

img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}

.card {
    /* Change background color */
    background-color: white;
    /* Add border */
    border: 1px solid #bacdd8;
    /* Add space between the border and the content */
    padding: 8px;
    border-radius: 12px;
}

/* Style div elements that have class equal to name */
.name_card {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}

/* Style p element */
p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
}

.card_details {
    /* Add space around the details */
    padding: 16px 8px 8px 8px;
}
