@page "/thirdPage"

<div class="containerSecondPage">
    <div class="container">
        <div class="header">
            <div class="headLine">
                <img class="gitar" src="css/gitar.png" />
                <div class="signIn">Log Out</div>
            </div>
        </div>
        <div class="secondPage">
            <div class="dashboard">
                <div class="courses">
                    <img src="css/COURSES.png" class="icon" />
                    <div>COURSES</div>
                </div>
                <div class="courses">
                    <img src="css/COURSES.png" class="icon" />
                    <div>COURSES</div>
                </div>
                <div class="courses">
                    <img src="css/COURSES.png" class="icon" />
                    <div>COURSES</div>
                </div>
                <div class="courses">
                    <img src="css/COURSES.png" class="icon" />
                    <div>COURSES</div>
                </div>
                <div class="courses">
                    <img src="css/COURSES.png" class="icon" />
                    <div>COURSES</div>
                </div>
                <div class="courses">
                    <img src="css/COURSES.png" class="icon" />
                    <div>COURSES</div>
                </div>
                <div>
                    <img src="css/COURSES.png" class="icon" />
                    <div>COURSES</div>
                </div>
            </div>

            <div class="thirdPageContentForDashborb" style="margin-left: 100px; width: 600px; margin-top:20px;">
                <a href="" class="linked"><img class="linkedImg" src="css/CoursesPage.png" /></a>
                <div class="btn">
                    <a class="button" href="#top">Continue</a>
                </div>
            </div>

            <div class="textCourse" style="color:white">
                <h1>Course Navigation</h1>
                <div>1.Getting The Best Sound Out Of Your Guitar</div>
                <div>1.Getting The Best Sound Out Of Your Guitar</div>
                <div>1.Getting The Best Sound Out Of Your Guitar</div>
                <div>1.Getting The Best Sound Out Of Your Guitar</div>
                <div>1.Getting The Best Sound Out Of Your Guitar</div>
                <div>1.Getting The Best Sound Out Of Your Guitar</div>
                <div>1.Getting The Best Sound Out Of Your Guitar</div>
                <div>1.Getting The Best Sound Out Of Your Guitar</div>
            </div>
        </div>
    </div>
</div>

<h1>Hello, world!</h1>