@page "/course"

<div class="containerSecondPage">
    <div class="container">
        <div class="header">
            <div class="headLine">
                <img class="gitar" src="css/gitar.png" />
                <div class="signIn">Log Out</div>
            </div>
        </div>
        <div class="secondPage">
            <div class="dashboard">
                <div class="courses">
                    <img src="css/COURSES.png" class="icon" />
                    <div>COURSES</div>
                </div>
                <div class="courses">
                    <img src="css/Arcticles.png" class="icon" />
                    <div>ARTICLES</div>
                </div>
                <div class="courses">
                    <img src="css/Events.png" class="icon" />
                    <div>EVENTS</div>
                </div>  
                <div class="courses">
                    <img src="css/Contest.png" class="icon" />
                    <div>CONTEST</div>
                </div>
                <div class="courses">
                    <img src="css/One on One.png" class="icon" />
                    <div>ONE ON ONE</div>
                </div>
                <div class="courses">
                    <img src="css/Settings.png" class="icon" />
                    <div>SETTINGS</div>
                </div>
                <div>
                    <img src="css/Support.png" class="icon" />
                    <div>SUPPORT</div>
                </div>
            </div>

            <div class="secondPageContentForDashborb">
                <a href="" class="linked"><img class="linkedImg" src="css/CoursesPage.png" /></a>
                <a href="" class="linked"><img class="linkedImg" src="css/Jason Richardson.png" /></a>
                <a href="" class="linked"><img class="linkedImg" src="css/Will Swan.png" /></a>
                <a href="" class="linked"><img class="linkedImg" src="css/Josh Travis.png" /></a>
                <a href="" class="linked"><img class="linkedImg"src="css/Will Swan.png" /></a>
                <a href="" class="linked"><img class="linkedImg" src="css/CoursesPage.png" /></a>
                <a href="" class="linked"><img class="linkedImg" src="css/Josh Travis.png" /></a>
                <a href="" class="linked"><img class="linkedImg" src="css/Coming Soon.png"/></a>
            </div>
        </div>
    </div>
</div>

<h1>Hello, world!</h1>