@page "/"

<div class="container">
    <div class="header">
        <div class="headLine">
            <img class="gitar" src="css/gitar.png" />
            <div class="signIn">Sing in</div>
        </div>
        <div class="mainContent">
            <div class="firstContent">
                <div class="fistText">THE BEST ONLINE SCHOOL FOR MASTERING GUITAR PLAYING</div>
                <div class="secondText">Join and get instant access to the entire library of lessons and a change to enter our songwriting contents.</div>
                <div class="btn">
                    <a class="button" href="#top" >Join Riffloud Now!</a>
                </div>
            </div>
            <div class="secondContent">
                <img src="css/secondContent.png"/>
            </div>
        </div>
    </div>
</div>

<h1>Hello, world!</h1>