@page "/register"

<div class="container">
    <div>
        Member Login
    </div>
    <div>UserName</div>
    <input />
    <div>Password</div>
    <input />
    <div class="btn">
        <a class="button" href="#top">Login</a>
    </div>
</div>