@page "/secondPage"

<div class="containerSecondPage">
    <div class="container">
        <div class="header">
            <div class="headLine">
                <img class="gitar" src="css/gitar.png" />
                <div class="signIn">Sing in</div>
            </div>
        </div>
    </div>
</div>

<h1>Hello, world!</h1>
